<ion-header>
  <ion-toolbar>
    <ion-title>Offre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <table>
        <tr>
          <td>
            <h1 class="titre">Presentation :</h1>
          </td>
        </tr>
        <tr>
          <td>
            <ion-item *ngFor="let item of items" (click)="goToFicheFilm(item.id)"> <!--click = onclick appel fonction qui redirige-->
              {{item.presentation}} <!-- titres des films-->
            </ion-item>
          </td>
        </tr>
        <tr>
          <td>
            <h1 class="titre">Activités :</h1>
          </td>
        </tr>
        <tr>
          <td>
            <ion-item *ngFor="let item of items" (click)="goToFicheFilm(item.id)"> <!--click = onclick appel fonction qui redirige-->
              {{item.activites}} <!-- titres des films-->
            </ion-item>
          </td>
        </tr>
        <tr>
          <td>
            <h1 class="titre">Sur le poste :</h1>
          </td>
        </tr>
        <tr>
          <td>
            <ion-item *ngFor="let item of items" (click)="goToFicheFilm(item.id)"> <!--click = onclick appel fonction qui redirige-->
              {{item.surleposte}} <!-- titres des films-->
            </ion-item>
          </td>
        </tr>
      </table>
      </ion-item>
  </ion-list>
</ion-content>
