<ion-header>
  <ion-toolbar>
    <ion-title>Offre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <h1>Presentation</h1>
      <ion-item *ngFor="let item of items" (click)="goToFicheFilm(item.id)"> <!--click = onclick appel fonction qui redirige-->
        {{item.presentation}} <!-- titres des films-->
        <img src={{item.icon}} slot="end"/> <!-- images des films, slot end pour les mettre en bout de ligne-->
      </ion-item>
    </ion-item>
  </ion-list>
</ion-content>
