.titre{
    text-align: left;
    font-size: 16px;
    color: grey;
}

#postuler{
    text-align: center;
    margin-left:auto;
    border-radius: 8px;
    background-color:darkred;
    color:white;
    font-size: 24px;

}


.item-inner{
    height: 200px;
}

#photo{
    width: 70px;
    height: 70px;
}

#center{
    text-align: center;
}

tr.spaceUnder>td {
    padding-bottom: 2em;
}

#image{
    width: 20px;
}

#nomentreprise{
    font-size: 12px;
    color: black;

}

#nomposte{
    font-size: 10px;
    color: grey;
}

#cpville{
    font-size: 10px;
    color:grey;
    font-weight: bold;
}

